!!!
%html
  %head
    %title Room Schedule
    %link{rel: 'stylesheet', href: '/css/style.css', type: 'text/css'}
    %link{rel: 'stylesheet', href: '/css/print.css', type: 'text/css', media: 'print'}
  %body
    %header
    - if @sorted_events.class == Array 
      - dateStr = @timeMin.strftime("%A, %B %d, %Y")
      %img#logo(src="/img/logo-bw-500.png")
      #float-right
        %h1 Room Schedule
        %h2= dateStr

    %aside
      %p.instruction
        Click event title to view in Google Calendar
        %br
        %br
        Double Click area to change contents
        %br 
        %br
        To reset changed text, refresh page
      %p.reset
        Reset all hidden rows
      %p
        Document should be printed with background colors on.<br><br>Recommend you review print preview first.<br><br>Hide, Reset, and this box will not be printed.

    %table#schedule
      %thead
        %tr
          %td.hide
          %td Event
          %td Location
          %td Begin
          %td End
      %tbody
        - @sorted_events.each do |row|
          %tr
            %td.hide hide
            / %td= row
            /- dbg(row)
            - start = is_starttime(row)
            - stop = is_endtime(row)
            / - link = event_link(row[:htmlLink],row[:summary])
            - link = row[:summary]
            %td.event= link
            %td.room= row[:location]
            %td.start= from_datetime(start,row)# + start.strftime
            / %td= start.strftime("%m/%d/%Y")
            %td.end= from_datetime(stop,row) # + stop.strftime
%script{:src => "//code.jquery.com/jquery-1.10.2.js"}
%script{:src => "/js/jquery-editable-master/jquery.editable.min.js"}
:javascript
  $(document).ready( function() {
      $( ".hide" ).click(function() {
        $(this).parent().toggle();
      });
      $(".reset").click(function(){
        $("tr").show();
      });
      $(".room, .start, .end").editable();
      $(".event ").editable({
        callback: function(data){
          data.$el.unbind('click', false)
        }
      });
      $(".event").dblclick(function(){
        $(this).find("a").dblclick().bind('click', false);
      });
  } );
