!!!
%html
  %head
    %title Room Schedule
    %link{rel: 'stylesheet', href: '/css/style.css', type: 'text/css'}
    %link{rel: 'stylesheet', href: '/css/print.css', type: 'text/css', media: 'print'}
  %body
    %header
    - if @eventsSort != nil 
      / - dateLocal = DateTime.strptime(@eventsSort[1][:start][:dateTime],"%Y-%m-%d")
      - dateStr = @timeMin.strftime("%A, %B %d, %Y")
      %img#logo(src="/img/logo-bw-500.png")
      #float-right
        %h1 Room Schedule
        %h2= dateStr
    - if @eventsSort == nil
      #error No Events Found

    %aside
      / %p= "Requested date: " + @post_date
      %p.instruction
        Click event title to view in Google Calendar
        %br
        %br
        Double Click area to change contents
        %br
        %br
        To reset changed text, refresh page
      %p.reset
        Reset all hidden rows
      %p
        Document should be printed with background colors on.<br><br>Recommend you review print preview first.<br><br>Hide, Reset, and this box will not be printed.

    %table#schedule
      %thead
        %tr
          %td.hide
          %td Event
          %td Location
          %td Begin
          %td End
      %tbody
        - @eventsSort.each do |row|
          %tr
            %td.hide hide
            / %td= row
            /- dbg(row)
            - start = to_datetime(row[:start][:dateTime])
            - stop = to_datetime(row[:end][:dateTime])
            - link = event_link(row[:htmlLink],row[:summary])
            %td.event= link
            %td.room= row[:location]
            %td.start= from_datetime(start)# + start.strftime
            / %td= start.strftime("%m/%d/%Y")
            %td.end= from_datetime(stop) # + stop.strftime
%script{:src => "//code.jquery.com/jquery-1.10.2.js"}
%script{:src => "/js/jquery-editable-master/jquery.editable.min.js"}
:javascript
  $(document).ready( function() {
      $( ".hide" ).click(function() {
        $(this).parent().toggle();
      });
      $(".reset").click(function(){
        $("tr").show();
      })
      $(".room, .start, .end").editable();
      $(".event a").editable({
        callback: function(data){
          data.$el.unbind('click', false)
        }
      })
      $(".event").dblclick(function(){
        $(this).find("a").dblclick().bind('click', false);
      })
  } );
